
DATABASE_URL= database url

NODE_ENV=development
PORT=3000


CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME= name
CLOUDINARY_API_KEY=api key
CLOUDINARY_API_SECRET=secreart

JWT_SECRET=testsecretjwt